* {
  font-family: monospace, sans-serif;
}

:root {
  --primary: #e1e8e0;
  --secondary: rgb(74, 107, 124);
  --alt: rgb(23, 42, 46);
}

body {
  background-color: var(--alt);
  background-image: url('./images/mountains.jpg');
  background-position:top;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom: ridge;
  background-color: var(--alt);
  width: 100%;
  padding: 1px;
}

header h1 {
  font-size: 42px;
  text-align: start;
  color: var(--primary);
  margin: 20px 0 10px 0;
}

h1 span {
  color: var(--secondary)
}

.nav ul {
  text-align: right;
  font-size: 25px;
  padding-right: 10px;
  margin-right: 50px;
}

.nav a:link {
  color: var(--primary);
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a:visited {
  color: var(--primary);
}

.aboutPage {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.projectContainer {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  flex-wrap: wrap;
  text-align: center;
}

.noteTaker img,
.aniFind img, 
.tracker img, 
.scheduler img,
.empTracker img,
.budget img {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 300px;
  width: 300px;
  margin: 50px 10px 10px 10px;
  border-radius: 25px;
}

.aniFind img,
.tracker img,
.scheduler img {
  margin-top: 150px;
}

.aniH, 
.trackerH, 
.schedulerH, 
.noteH, 
.empH,
.budgetH {
  display: none;
  position: relative;
  text-align: center;
  top: -300px;
}

.aniH span, 
.trackerH span,
.schedulerH span,
.noteH span,
.empH span,
.budgetH span {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.aniFind:hover .aniH {
  display: block;
  color: black;
  font-size: 25px;
}

.tracker:hover .trackerH {
  display: block;
  color: black;
  font-size: 25px;
}

.scheduler:hover .schedulerH {
  display: block;
  color: black;
  font-size: 25px;
}

.noteTaker:hover .noteH {
  display: block;
  color: black;
  font-size: 25px;
}

.empTracker:hover .empH {
  display: block;
  color: black;
  font-size: 25px;
}

.budget:hover .budgetH {
  display: block;
  color: black;
  font-size: 25px;
}

.contact span {
  color: var(--secondary);
}

#About a {
  color:var(--alt);
  font-weight: bold;
  font-size: 20px;
}

.projects h4 {
  text-align: center;
  font-size: 45px;
  color: var(--primary);
  margin-top: 20px;
}

.footer {
  margin-top: 30px;
  padding: 5px 0 5px 0;
  text-align: center;
  color: var(--primary);
  background-color: var(--alt);
  border-top: ridge;

}

.tab {
  text-align: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  background-color: var(--alt);
  margin: 20px 0 10px 0;
  
}


.tab button {
  color: var(--primary);
  background-color: var(--alt);
  border: 2px solid var(--primary);
  border-radius: 10px 10px 10px 10px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  color: black;
  background-color: #ddd;
}

.tab button.active {
  color: black;
  background-color: var(--primary);
}

.projectContainer img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projectContainer img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.portLinks p {
  text-align: center;
}

.tracker {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.scheduler, .empTracker {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.aniFind a, .empTracker a, .tracker a, .scheduler a {
  margin-top: 5px;
}

.empTracker p, .tracker p, .scheduler p, .aniFind p {
  margin-bottom: 10px;
}

.gitContact a {
  color: black;
  text-decoration: none;
}

.gitContact img {
  height: 130px;
  width: 130px;
}

.gitContact img:hover {
  transition: transform .5s ease;
  transform: scale(1.1);
}

.linkedIn img, .gmail img {
  height: 130px;
  width: 130px;
}

.gmail img:hover, .linkedIn img:hover {
  transition: transform .5s ease;
  transform: scale(1.1);
}

.tabcontent img {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .tabcontent {
      font-size: 15px;
      line-height: 18px;
      width: 100%;
  }

  .portLinks {
      display: flex;
      flex-direction: column;
  }

  .portLinks img {
      padding: 0;
      
  }
  
  .portLinks p {
      font-size: 35px;
      margin: 10px 0 10px 0;
  }
  .gmail img {
      height: 100px;
      width: 100px;
  }

  .linkedIn img {
      height: 100px;
      width: 100px;

  }

  .gitContact img {
      height: 95px;
      width: 95px;
  }

  .main-card {
      height: 300px;
  }

  .main-card h2 {
      font-size: 30px;
  }

  .tabcontent img {
      margin: auto;
      width: 100%;
  }

  .portLinks a {
      font-size: 20px;
      margin: 3px 0 10px 0;
  }

  header {
      display: inline-block;
  }

  .container {
      display: flex;
      flex-direction: column;
  }

  .gitContact img, .linkedIn img, .gmail img {
      width: 50%;
      height: 5%;
  }
}





