
.mainPage {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.mainHeading {
    margin-top: 160px;
}


.mainHeading p {
    opacity:0;
    transition:1s;
    font-size: 20px;
    text-align: center;
    line-height: 5px;
}

.mainHeading:hover p {
    opacity:1;
}

.mainHeading a {
    text-decoration: none;
}

.mainHeading a:link {
    text-decoration: none;
}

.mainHeading a:visited {
    text-decoration: none;
    color: black;
}

.mainHeading a:hover {
    color: var(--secondary);
}
