* {
    font-family: monospace, sans-serif;
  }
  
  :root {
    --primary: #e1e8e0;
    --secondary: rgb(74, 107, 124);
    --alt: rgb(23, 42, 46);
  }
  
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-bottom: ridge;
    background-color: var(--alt);
    width: 100%;
    padding: 1px;
  }

  .nav ul {
    display: flex;
    list-style-type: none;
    color: var(--primary);
    font-size: 20px;
  }

  .nav li {
    padding: 0 10px 0 10px;
    list-style-type: none;
    color: var(--primary);
  }
  
  header h1 {
    font-size: 42px;
    text-align: start;
    color: var(--primary);
    margin: 20px 0 10px 0;
  }
  
  h1 span {
    color: var(--secondary)
  }

  .navLi {
    list-style-type: none;
  }
  
  .nav a:link {
    font-size: 20px;
    color: var(--primary);
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  
  .nav a:visited {
    color: var(--primary);
  }